@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}

main {
	background-color: #004643;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 80vh;
	margin: 0;
}


.resultados {
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	height: 400px;
	width: 300px;
}

.resultados img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.boton {
	display: flex;
	align-items: center;
	justify-content: center;
}

button {
	background-color: #f9bc60;
	border: 0;
	border-radius: 4px;
	color: #001e1d;
	font-size: 18px;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

button:active {
	transform: scale(0.98);
}

button:focus {
	outline: none
}

.header{
	font-family: 'Roboto', sans-serif;

    background: #004643;
    z-index: 10;
    top: 0;
    left: 0;
    position: sticky;
}

    .header__container{
        width: 90%;
        max-width: 1200%;
        margin: auto;
    }

    .header__menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px #f9bc60;
    }
    .header__menu a:hover{
        color: #f9bc60;
    }


