@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


main {
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    background-color:#004643 ;
    color: white;
}

.contenedor {
    font-family: 'Roboto', sans-serif;
    width: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}


.altura, .peso, .calorias {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input, button {
    padding: 20px;
    font-size: 20px;
    outline: ninguno;
    border: ninguno;
    border-radius: 5px;
}

button {
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #f9bc60;
    color:#001e1d ;
    margin-top:5px;
}
h2{
    font-family: 'Roboto', sans-serif;
}

/* Reloj */

li {
    list-style: none;
    margin-bottom: 5px;
}

a.enlace-eliminar {
    margin-left: 10px;
    text-decoration: none;
    font-size: 1rem;
}

.tachado {
    text-decoration: line-through;
}

/* header */

.header{
    font-family: 'Roboto', sans-serif;

    background: #004643;
    z-index: 10;
    top: 0;
    left: 0;
    position: sticky;
}

    .header__container{
        width: 90%;
        max-width: 1200%;
        margin: auto;
    }

    .header__menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px #f9bc60;
    }
    .header__menu a:hover{
        color: #f9bc60;
    }


