@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #004643;
}


.reloj{
    width: 500px;
background-color: #f9bc60;
    color: #001e1d;
    text-align: center;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    border-bottom: 10px solid black;
    user-select: none;
}

.dia{
    font-size: 20px;
}

.mes{
    font-size: 40px;
}

.hora{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hora p{
    font-size: 50px;
    background-color: #fffffe;
    padding: 10px;
    margin: 0px 5px;
    border: 1px solid #ffffff;
}

.header{
    font-family: 'Roboto', sans-serif;

    background: #004643;
    z-index: 10;
    top: 0;
    left: 0;
    position: sticky;
}

    .header__container{
        width: 90%;
        max-width: 1200%;
        margin: auto;
    }

    .header__menu a{
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    transition: all 500ms ease;
    border-bottom: 4px #f9bc60;
    }
    .header__menu a:hover{
        color: #f9bc60;
    }